journeymap/*
saves/*
usernamecache.json
usercache.json
logs/*
options.txt
crash-reports/*
journeymap/journeymap.log
mods/JustEnoughButtons/8425ca04-cb88-4ad3-b9f0-ebb458ecdf91.jebs
config/brandon3055/contributors.json
